@media only screen and (max-width: 1280px) {
  .header {
    &__menu {
      width: 50%;
    }
  }
}

@media only screen and (max-width: 1024px) {
  .header {
    &__input,
    &__lines {
      right: 40px;
    }
    &__menu {
      width: 60%;
    }
  }
  .shop {
    &__container {
      padding: 0 29px;
    }
  }
}
@media only screen and (max-width: 768px) {
  .header {
    &__menu {
      margin: 0;
      width: 100%;
    }
  }
}

@media only screen and (max-width: 640px) {
  .header {
    &__menu {
      height: 100vh;
    }
  }
}

@media only screen and (max-width: 480px) {
  .header {
    &__input,
    &__lines {
      top: 25px;
    }
    &__input:checked,
    &__input:checked ~ &__lines {
      top: 25px;
    }
  }

  .slider {
    &__img {
      &::after {
        padding-bottom: 77%; // design
      }
    }
  }
  .shop {
    &__description {
      max-height: 6.5em;
      &--show {
        max-height: 20em;
      }
    }
  }
}
