@import 'normalize';
@import 'components/all';
@import 'shared';
@import 'wp';
@import 'media-queries';

@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Poppins:wght@300;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  color: #425466;
  background-color: #f5f5f5;
  font-weight: 300;
  line-height: 20px;
}

html {
  box-sizing: border-box;
  direction: rtl;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  transition: 0.3s;
}

a {
  text-decoration: none;
  color: #0a2540;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

input,
input:focus {
  border: none;
  outline: none;
}

main {
  min-height: 150vh;
}
