.shop {
  color: #000;
  padding-bottom: 40px;

  &__container {
    margin: 0 auto;
    max-width: 1110px;
  }

  &__header {
    max-width: 792px;
    margin-bottom: 48px;
  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 28px;
    line-height: 42px;
    color: #000;
  }

  &__description {
    max-height: 3em;
    overflow: hidden;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    text-align: right;
    color: #000;
    transition: 1s;
    p {
      margin: 0;
    }

    &--show {
      max-height: 20em;
    }
  }

  &__more {
    cursor: pointer;
    position: relative;
    padding-right: 18px;
    background-color: transparent;
    border: none;
    font-weight: 500;
    font-size: 12px;
    text-align: right;
    text-transform: uppercase;
    color: #000;

    &::after {
      content: url('../img/icon/arrow-down.svg');
      width: 14px;
      height: 14px;
      position: absolute;
      right: 0;
      transition: 0.5s;
    }

    &--show {
      &::after {
        transform: rotate(180deg);
      }
    }
  }

  &__products {
    padding-bottom: 40px;
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, 350px);
    justify-content: center;
  }
}
.product {
  padding: 18px;
  width: 350px;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  text-align: center;

  &:hover {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  }

  &__img {
    align-self: center;
    width: 350px;
    height: 277px;
    overflow: hidden;
    text-align: center;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__title {
    flex-grow: 1;
    font-family: $font-futura;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
    color: #000;
  }

  &__row {
    margin-bottom: 18px;
    display: flex;
    justify-content: space-between;
  }

  &__amount {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: rgba(0, 0, 0, 0.5);
  }

  &__price {
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #000;
  }

  &__btn {
    margin: 0 auto;
    display: inline-block;
    min-height: 46px;
    min-width: 250px;
    padding: 8px;
    border: 1px solid #000;
    color: #000;
    cursor: pointer;
    font-weight: 500;
    font-size: 16px;
    line-height: 30px;

    text-align: center;

    &:hover,
    &:active {
      background-color: #000;
      color: #fff;
    }

    &:active {
      opacity: 0.5;
    }
  }
}
