.slider {
  position: relative;
  &__list {
  }

  &__img {
    position: relative;
    width: 100%;
    height: 810px; ///////media
    z-index: 150;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__dots {
    position: absolute;
    bottom: 25px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    cursor: pointer;
    z-index: 160;

    button {
      display: none;
    }
    li {
      display: inline-block;
      border-radius: 50%;
      margin: 6px 12px;
      width: 11px;
      height: 11px;
      background-color: #fff;
      &:hover {
        background-color: rgba(#ff61e6, 0.7);
      }
    }
    &--active,
    li.slick-active {
      background-color: #ff61e6;
    }
  }
}
